body {
    background-color: white;
}

.conteiner {
    background-color:rgb(0, 0, 214);
    width: 100%;
    margin: 0;
}

.cabeçalho {
    height: 65px;
    width: 100%;
    background-color: yellow;
    align-content:flex-start;
}

#titulo-pagina {
    color: white;
    font-size: 20px;
}

.principal {
    width: 100%;
    background-color:darkgray;
    display: flex;
}

.menu {
    background-color: black;
    color: white;
    width: 30%;
}

#fontes-menu {
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
}


main {
    background-color: rgb(142, 137, 137);
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(4, 2fr);
    row-gap: 15px;
    column-gap: 10px;
    grid-template-areas:
    "poke01 poke02 poke03"
    "poke04 poke05 poke06"
    ". . ."
    ". . ."
    ;
}

.caixa-icon {
    background-color: rgb(128, 128, 128);
    height: 320px;
    width: 250px;
    border: 3px, solid, black;
    border-style: outset;
    padding: 5px;
    margin: 10px;
    box-shadow: 7px 7px rgba(97, 97, 97, 0.829);
    border-radius: 10%;
}


.caixa1 {
    grid-area: poke01;
    background-color: #0c92f1;
    
}
.caixa2 {
    grid-area: poke02;
    background-color: #0c92f1;
}
.caixa3 {
    grid-area: poke03;
    background-color: #0c92f1;
}
.caixa4 {
    grid-area: poke04;
    background-color:#ffb753;
}
.caixa5 {
    grid-area: poke05;
    background-color: #ffb753;
}
.caixa6 {
    grid-area: poke06;
    background-color: #ffb753;
}
.imagem-caixa1 {
    width: 270px;
    height: 270px;
    background-image: url(imagens/bulbasaur.png);
    background-size: cover;
    background-position: right 0,5px top 100px;
}

.imagem-caixa2 {
    width: 270px;
    height: 270px;
    background-image: url(imagens/ivysaur.png);
    background-size: cover;
    background-position: right 0,5px top 100px;
}

.imagem-caixa3 {
    width: 270px;
    height: 230px;
    background-image: url(imagens/Venosaur.png);
    background-size: cover;
    background-position: left 0,3px right 0,2px top 76px;
}

.imagem-caixa4 {
    width: 270px;
    height: 270px;
    background-image: url(imagens/charmander.png);
    background-size: cover;
    background-position: right 0,5px top 100px;
}

.imagem-caixa5 {
    width: 270px;
    height: 270px;
    background-image: url(imagens/charmeleon.png);
    background-size: cover;
    background-position: right 0,5px top 100px;
}

.imagem-caixa6 {
    width: 270px;
    height: 270px;
    background-image: url(imagens/charizard.png);
    background-size: cover;
    background-position: right 0,5px top 100px;
}

.rodapé {
    height: 65px;
    width: 100%;
    background-color: yellow;
    display: flex;
    align-content:flex-end;
}

.autores {
    color:black;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

#titulo-pagina{
 animation-duration: 2s;
 animation-name: piscar;
 animation-iteration-count: infinite;
}

@keyframes piscar {
    from{
        color: red;
    }
    to{
        color: black;
    }
    to{
        color: gray;
    }
}  
