body {
    background-color: white;
}

.conteiner {
    background-color:rgb(0, 0, 214);
    width: 100%;
    margin: 0;
}

.cabeçalho {
    height: 65px;
    width: 100%;
    background-color: yellow;
    align-content:flex-start;
}

#titulo-pagina {
    color: white;
    font-size: 20px;
}

.principal {
    width: 100%;
    background-color:darkgray;
    display: flex;
}

.menu {
    background-color: black;
    color: white;
    width: 30%;
}

#fontes-menu {
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
}


main {
    background-color: blue;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(4, 2fr);
    row-gap: 15px;
    column-gap: 10px;
    grid-template-areas:
    "poke01 poke02 poke03"
    "poke04 poke05 poke06"
    ". . ."
    ". . ."
    ;
}

.caixa-icon {
    background-color: grey;
    height: 320px;
    width: 250px;
    border: 3px, solid, black;
    border-style: outset;
    padding: 5px;
    margin: 10px;
    box-shadow: 7px 7px rgba(97, 97, 97, 0.829);
    border-radius: 10%;
}


.caixa1 {
    grid-area: poke01;
}
.caixa2 {
    grid-area: poke02;
}
.caixa3 {
    grid-area: poke03;
}
.caixa4 {
    grid-area: poke04;
}
.caixa5 {
    grid-area: poke05;
}
.caixa6 {
    grid-area: poke06;
}


.rodapé {
    height: 65px;
    width: 100%;
    background-color: yellow;
    display: flex;
    align-content:flex-end;
}

.autores {
    color:black;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

#titulo-pagina{
 animation-duration: 2s;
 animation-name: piscar;
 animation-iteration-count: infinite;
}

@keyframes piscar {
    from{
        color: red;
    }
    to{
        color: black;
    }
    to{
        color: gray;
    }
}