@import url(../../arquivos-CSS/global.css);
@import url(../../arquivos-CSS/header.css);
@import url(../../arquivos-CSS/nav.css);
@import url(../../arquivos-CSS/footer.css);

/*Grid das caixas*/
main {
    background: transparent url(https://assets.pokemon.com/static2/_ui/img/chrome/body_gray_bg.png);
    width: 70%;
    margin-top: 70px;
    margin-left: 30%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 2fr);
    row-gap: 10px;
    column-gap: 1px;
    ;
}