@import url(../../arquivos-CSS/global.css);
@import url(../../arquivos-CSS/header.css);
@import url(../../arquivos-CSS/nav.css);
@import url(../../arquivos-CSS/footer.css);

/*Grid das caixas*/
main {
    background: transparent url(https://assets.pokemon.com/static2/_ui/img/chrome/body_gray_bg.png);
    width: 70%;
    margin-top: 70px;
    margin-left: 30%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 2fr);
    row-gap: 10px;
    column-gap: 1px;
    grid-template-areas:
        "poke01 poke02 poke03"
        "poke04 poke05 poke06"
        "poke07 . ."
    ;
}

/*modelo padrão de caixa*/
.caixa-icon {
    background-color: rgb(128, 128, 128);
    height: 350px;
    width: 260px;
    border: 4px, solid, black;
    border-style: outset;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 18px;
    border-radius: 10%;
}

/*box modeling das caixas*/
.caixa1 {
    grid-area: poke01;
    background-color: #0c92f1;
    height: 850px;
}

/*imagens dos pokémons nas caixas*/
.imagem-caixa1 {
    width: 270px;
    height: 270px;
    background-image: url(https://assets.pokemon.com/assets/cms2/img/pokedex/full/003.png);
    background-size: cover;
    background-position: right 0, 5px top 100px;
}

.caixa-interna-geral {
    width: 179px;
    height: center;
    background-color:#51b03a;
    margin: 15px;
    padding: 20px;
    text-align: center;
    border-radius: 25px;
}

.caixa-interna-sobre {
    width: 55px;
    height: 23px;
    background-color: #ffffff;
    margin: 5px;
    text-align: center;
    border-radius: 25px;
}

.caixa-interna-fisio {
    width: 75px;
    height: 23px;
    background-color: #ffffff;
    margin: 5px;
    text-align: center;
    border-radius: 25px;
}

.caixa-interna-det {
    width: 179px;
    height: center;
    background-color:#51b03a;
    margin: 15px;
    padding: 20px;
    text-align: center;
    border-radius: 25px;
}

.nome-bulbasaur {
    width: 179px;
    height: center;
    background-color: #e74f4f;
    margin: 15px;
    padding: 20px;
    text-align: center;
}

/*botão*/
.btn {
    width: 250px;
    height: 50px;
    background-color: rgb(239, 243, 0);
    border: 2px solid rgb(0, 77, 0);
    border-radius: 25px;
    font-size: 22px;
}