/*sopé*/
#rodapé {
    height: 150px;
    width: 70%;
    margin-left: 30%;
    background-color: rgb(252, 252, 31);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.autores {
    font-size: 20px;
    color: black;
    padding-bottom: 10px;
}
.linkGitHub {
    height: 50px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
.gitlogo{
    height: 50px;
    width: 50px;
}
.gitlogo:first-child {
    padding-right: 30px;
}
.gitlogo:last-child {
    padding-left: 30px;
}
.btn-obri {
    background-color: rgb(73, 0, 102);
    border-style: solid;
    border-radius: 10px;
    color: whitesmoke;
    height: 50px;
    width: 150px;
    font-size: 25px;
}
/*sopé*/