*{font-family: 'Belanosima', sans-serif;}

body {
    background-color: white;
    margin: 0px;
}

 /*cursor*/
 .mause {
    cursor: pointer;
 }
 .mause2 {
    cursor: text;
 }

 /*container príncipal*/
#conteiner {
    background-color: rgb(255, 255, 255);
    width: 100%;
}

/*Conteúdo*/
#principal {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
}