* {
    font-family: 'Belanosima', sans-serif;
}

body {
    background-color: white;
    margin: 0px;
}

/*cursor*/
.mause {
    cursor: pointer;
}

#conteiner {
    background-color: rgb(0, 0, 214);
    width: 100%;
    margin: 0;
}

/*topo*/
.cabeçalho {
    height: 70px;
    width: 100%;
    background-color: rgb(252, 252, 31);
    display: flex;
    align-items: center;
}

#imgheader {
    margin-left: 19%;
    padding-right: 2%;
    border-right: solid 2px black;
    height: 80%;
    width: 120px;
    background-image: url(imagens/120px-Pokédex_logo.png);
    background-repeat: no-repeat;
}

/*topo*/

/*Conteúdo*/
#principal {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
}

/*nav*/
#menu {
    background-color: rgb(0, 0, 0);
    color: white;
    width: 30%;
}

/*As 3 listas do menu*/
#inicio {
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-bottom: solid 2px grey;
    user-select: none;
}

#config {
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-bottom: solid 2px grey;
    user-select: none;
}

#type-list {
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    flex-direction: row;
    user-select: none;
}

#Recolher {
    display: none;
}

/*icones do menu*/
.material-icons.md-24 {
    font-size: 50px;
    margin-left: 20px;
    margin-right: 15px;
}

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

/*Fontes do menu*/
.fontes-menu {
    font-size: 35px;
    font-weight: 400;
    text-decoration: none;
}

.fontes-menu:visited {
    color: white;
}

/*grid dos botões de tipos*/
#btn-tipos {
    margin-left: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: 30px;
    column-gap: 2px;
    grid-template-areas:
        "fogo planta eletrico agua"
        "psiquico fada fantasma escuridao"
        "lutador terra pedra dragao"
        "voador inseto venenoso normall"
        "metal gelo . ."
}

/*botão padrão dos tipos*/
.input {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: solid 4px black;
}

.input:hover {
    border: none;
}

/*imagens inseridas nos botões de tipos*/
.fire-type {
    grid-area: fogo;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(imagens/image\ 22.png);
}

.plant-type {
    grid-area: planta;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(imagens/image\ 23.png);
}

.eletric-type {
    grid-area: eletrico;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(imagens/image\ 26.png);
}

.water-type {
    grid-area: agua;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(imagens/image\ 24.png);
}

.psychic-type {
    grid-area: psiquico;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(imagens/image\ 27.png);
}

.fairy-type {
    grid-area: fada;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(imagens/image\ 29.png);
}

.fighter-type {
    grid-area: lutador;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(imagens/image\ 34.png);
}

.ground-type {
    grid-area: terra;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(imagens/image\ 25.png);
}

.rock-type {
    grid-area: pedra;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(imagens/image\ 37.png);
}

.flying-type {
    grid-area: voador;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(imagens/image\ 31.png);
}

.dragon-type {
    grid-area: dragao;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(imagens/image\ 30.png);
}

.dark-type {
    grid-area: escuridao;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(imagens/image\ 28.png);
}

.ghost-type {
    grid-area: fantasma;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(imagens/image\ 39.png);
}

.insect-type {
    grid-area: inseto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(imagens/image\ 35.png);
}

.poison-type {
    grid-area: venenoso;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(imagens/image\ 32.png);
}

.normal-type {
    grid-area: normall;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(imagens/image\ 38.png);
}

.steel-type {
    grid-area: metal;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(imagens/image\ 33.png);
}

.ice-type {
    grid-area: gelo;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(imagens/image\ 36.png);
}

/*Grid das caixas*/
main {
    background: transparent url(https://assets.pokemon.com/static2/_ui/img/chrome/body_gray_bg.png);
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 2fr);
    row-gap: 10px;
    column-gap: 1px;
    grid-template-areas:
        "poke01 poke02 poke03"
        "poke04 poke05 poke06"
        "poke07 . ."
    ;
}

/*modelo padrão de caixa*/
.caixa-icon {
    background-color: rgb(128, 128, 128);
    height: 350px;
    width: 260px;
    border: 4px, solid, black;
    border-style: outset;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 18px;
    border-radius: 10%;
}

.caixa-icon:hover {
    box-shadow: 12px 10px rgba(68, 68, 68, 0.479);
}

/*box modeling das caixas*/
.caixa1 {
    grid-area: poke01;
    background-color: #0c92f1;
    height: 800px;
}

.caixa2 {
    grid-area: poke02;
    background-color: #0c92f1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixa3 {
    grid-area: poke03;
    background-color: #0c92f1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixa4 {
    grid-area: poke04;
    background-color: #ffb753;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixa5 {
    grid-area: poke05;
    background-color: #ffb753;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixa6 {
    grid-area: poke06;
    background-color: #ffb753;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixa7 {
    grid-area: poke07;
    background-color: #cd6cd6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*imagens dos pokémons nas caixas*/
.imagem-caixa1 {
    width: 270px;
    height: 270px;
    background-image: url(imagens/bulbasaur.png);
    background-size: cover;
    background-position: right 0, 5px top 100px;
}

.imagem-caixa2 {
    width: 270px;
    height: 270px;
    background-image: url(imagens/ivysaur.png);
    background-size: cover;
    background-position: right 0, 5px top 100px;
}

.imagem-caixa3 {
    width: 270px;
    height: 270px;
    background-image: url(imagens/Venosaur.png);
    background-size: cover;
    background-position: left 0, 3px right 0, 2px top 76px;
}

.imagem-caixa4 {
    width: 270px;
    height: 270px;
    background-image: url(imagens/charmander.png);
    background-size: cover;
    background-position: right 0, 5px top 100px;
}

.imagem-caixa5 {
    width: 270px;
    height: 270px;
    background-image: url(imagens/charmeleon.png);
    background-size: cover;
    background-position: right 0, 5px top 100px;
}

.imagem-caixa6 {
    width: 270px;
    height: 270px;
    background-image: url(imagens/charizard.png);
    background-size: cover;
    background-position: right 0, 5px top 100px;
}

.imagem-caixa7 {
    width: 270px;
    height: 270px;
    background-image: url(imagens/jigglepuff.png);
    background-size: cover;
    background-position: right 0, 5px top 100px;
}

/*botões da caixa*/
.grass-btn {
    height: 50px;
    width: 175px;
    background-color: rgb(0, 243, 0);
    border: 2px solid rgb(0, 77, 0);
    border-radius: 25px;
    font-size: 22px;
}

.fire-btn {
    height: 50px;
    width: 175px;
    background-color: rgb(250, 37, 37);
    border: 2px solid rgb(134, 0, 0);
    border-radius: 25px;
    font-size: 22px;
}

.fire-btn:hover {
    width: 225px;
    background-color: rgb(196, 0, 0);
    transition: width 1s;
}

.fairy-btn {
    height: 50px;
    width: 175px;
    background-color: rgb(250, 136, 206);
    border: 2px solid rgb(197, 47, 202);
    border-radius: 25px;
    font-size: 22px;
}

.fairy-btn:hover {
    width: 225px;
    background-color: rgb(252, 108, 196);
    transition: width 1s;
}

/*numero do pokemon*/
#numero {
    padding-top: 8px;
    padding-left: 3px;
    height: 20px;
    width: 100%;
    display: flex;
    color: black;
    justify-self: flex-start;
}

/*Conteúdo*/

/*sopé*/
#rodapé {
    height: 150px;
    width: 100%;
    background-color: rgb(252, 252, 31);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.autores {
    font-size: 20px;
    color: black;
    padding-bottom: 10px;
}

.linkGitHub {
    height: 50px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.gitlogo {
    height: 50px;
    width: 50px;
}

.gitlogo:first-child {
    padding-right: 30px;
}

.gitlogo:last-child {
    padding-left: 30px;
}

.btn-obri {
    background-color: rgb(73, 0, 102);
    border-style: solid;
    border-radius: 10px;
    color: whitesmoke;
    height: 50px;
    width: 150px;
    font-size: 25px;
}

/*sopé*/

.caixa-interna-geral {
    width: 179px;
    height: center;
    background-color:#e74f4f;
    margin: 15px;
    padding: 20px;
    text-align: center;
}

.caixa-interna-sobre {
    width: 55px;
    height: 23px;
    background-color: #ffffff;
    margin: 5px;
    text-align: center;
}

.caixa-interna-fisio {
    width: 75px;
    height: 23px;
    background-color: #ffffff;
    margin: 5px;
    text-align: center;
}

.caixa-interna-det {
    width: 179px;
    height: center;
    background-color:#e74f4f;
    margin: 15px;
    padding: 20px;
    text-align: center;
}

.nome-bulbasaur {
    width: 179px;
    height: center;
    background-color: #e74f4f;
    margin: 15px;
    padding: 20px;
    text-align: center;
}

/*botão*/
.btn {
    width: 250px;
    height: 50px;
    background-color: rgb(239, 243, 0);
    border: 2px solid rgb(0, 77, 0);
    border-radius: 25px;
    font-size: 22px;
}


