@import url(../../arquivos-CSS/global.css);
@import url(../../arquivos-CSS/header.css);
@import url(../../arquivos-CSS/nav.css);
@import url(../../arquivos-CSS/footer.css);
@import url(../../arquivos-CSS/main-pokemons.css);

/*Imagem e nome do Pokemon*/
.img-pokemon {
    background-image: url(../../imagens/ivysaur.png);
    background-size: cover;
}

.nome-pokemon {
    color:rgb(110, 214, 107);
    font-size: 40px;
    margin: 0px;
}
/*Imagem e nome do Pokemon*/

/*Caixa de Informações*/
#info-geral{
    height: 90%;
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    border-style: outset;
    background-color: rgb(6, 167, 0);
    transition: 1s;
}
#info-geral:hover {
    box-shadow: 15px 8px rgb(177, 177, 177);
}
/*Caixa de Informações*/

/*Caixa de Evoluções*/
.bloco {
    height: 50px;
    width: 160px;
    margin: 15px;
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
    border-radius: 25px;;
    background-color: rgb(6, 167, 0);
}

.ver1 {
    background-image: url(../../imagens/bulbasaur.png);
    background-size: cover;
}
.ver2 {
    background-image: url(../../imagens/ivysaur.png);
    background-size: cover;
}
.ver3 {
    background-image: url(../../imagens/Venosaur.png);
    background-size: cover;
}
/*Caixa de Evoluções*/